services:
  prabcast-streamlit:
    build:
      context: .
      dockerfile: Dockerfile
    image: prabcast-streamlit:latest
    container_name: prabcast_container
    env_file:
      - .env
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
      - PYTHONPATH=/app
    restart: always