absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
altair==5.5.0
arch==7.1.0
astroid==3.3.6
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.13.4
black==24.10.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cmdstanpy==1.2.4
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.11
dill==0.3.9
python-dotenv==1.0.1
et_xmlfile==2.0.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.55.2
fredapi==0.5.2
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.68.1
h5py==3.12.1
holidays==0.62
html5lib==1.1
idna==3.10
importlib_resources==6.4.5
iniconfig==2.0.0
intel-openmp==2021.4.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.2.1
kiwisolver==1.4.5
libclang==18.1.1
lightning-utilities==0.11.9
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.3
mccabe==0.7.0
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.16.0
networkx==3.4.2
numpy==1.26.4
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pandas==2.2.0
pathspec==0.12.1
patsy==1.0.1
peewee==3.17.8
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
pluggy==1.5.0
pmdarima==2.0.4
propcache==0.2.1
prophet==1.1.5
protobuf==4.25.5
psutil==6.1.0
pyarrow==18.1.0
pydeck==0.9.1
Pygments==2.18.0
pylint==3.3.2
pyparsing==3.2.0
pytest==8.3.4
python-dateutil==2.9.0.post0
pytorch-lightning==2.3.0
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
scikit-learn==1.4.0
scipy==1.14.1
six==1.17.0
smmap==5.0.1
soupsieve==2.6
stanio==0.5.1
statsmodels==0.14.1
streamlit==1.40.1
sympy==1.13.3
tbb==2021.13.1
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-intel==2.16.2
termcolor==2.5.0
threadpoolctl==3.5.0
toml==0.10.2
tomlkit==0.13.2
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.4.0.post0
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.0
xgboost==2.1.3
yarl==1.18.3
yfinance==0.2.58
